@import "@/base/_common.scss";

.qaList {
    display: flex;
    flex-wrap: wrap;
}

.answerList {
    padding: 0;
    margin-bottom: rem(24);
    background: #FFF;
    padding: rem(24) rem(24);
    border-radius: rem(24);
    list-style-position: inside;
    li {
        // list-style: none;
        margin-bottom: rem(10);
    }
}

.sectionTitle {
    margin-bottom: rem(20);
    display: inline-block;
    text-align: center;
    font-size: rem(28);
    font-weight: bold;
}