@function rem($px) {
    // @return ($px/750)* 1rem;
    @return $px / 2 * 1px; 
}

.item {
    margin-bottom: rem(20);
    margin-right: rem(24);
}

.title {
    display: inline-block;
    padding: rem(12) rem(16);
    border-radius: rem(16);
    background: #FFF;
}


.status-warning .title {
    color: #FFF;

    background-color: rgb(223, 117, 20);
}
.status-error .title{
    color: #FFF;

    background-color: rgb(202, 60, 60); 
}
.status-success .title{
    color: #FFF;

    background-color: rgb(28, 184, 65);
}
.status-secondary .title{
    color: #FFF;

    background-color: rgb(66, 184, 221);
}
.status-primary .title{
    color: #FFF;

    background-color: rgb(0, 120, 231);
}